*{
  font-family: ui-sans-serif,system-ui,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  user-select: none;
}

body{
  background: #fff49b;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}